<div class="my-3 mx-5">
    <h2>of and from</h2>
    <br>
    <strong>Ex-01 (OF)</strong>



    <hr>


    <div class="row">
        <div class="col-md-6">
            <p class="border bg-light rounded"> <strong>Data: </strong>of('srijan''srivasta' '243')</p>
            <hr>
            <ul id="containerElement">
            </ul>
        </div>
        <div class="col-md-6">
            <p class="border bg-light rounded"> <strong>Data: </strong>of('srijan''srivasta' '243')</p>
            <hr>
            <ul id="containerElement">
                <li>a: {{obMasg.a}} </li>
                <li>ab:{{obMasg.b}}</li>

                <li>c:{{obMasg.c}}</li>


            </ul>
        </div>







    </div>






    <strong>EX-02 (From)</strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
    
            <p class="border bg-light rounded"> <strong>Data: </strong>From['srijan''srivasta' '243']</p>
            <hr>
            <ul id="containerElement2">
            </ul>
        </div>


    <div class="col-md-4">
        <strong>Promise</strong>
    
        <p class="border bg-light rounded"> <strong>Data: </strong>Promise to observable</p>
        <hr>
        <ul id="containerElement4">
        </ul>
    </div>



    <div class="col-md-4">
        <strong>string</strong>
    
        <p class="border bg-light rounded"> <strong>Data: </strong>Welcome sunday</p>
        <hr>
        <ul id="containerElement5">
        </ul>
    </div>
    </div>















</div>