<div class="row my-4 , mx-4">
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h4>custom-observable</h4>
            <div class="card-body">
                <hr>
                <ul id ="container1">
                </ul>
                <ul>
<li *ngIf="iserr">errror came</li>
</ul>
            </div>

        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h4>Map</h4>
            <div class="card-body">
                <hr>
                <ul id ="container2">
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <h4>Filter</h4>
            <div class="card-body">
                <hr>
                <ul id ="container3">
                </ul>

            </div>
        </div>
    </div>
</div>

</div>