<div class="row mx-4 my-4">
    <div class="col-md-12">
        <div class="list">
            <ul>
                <li>
                    <a routerLink="from">fromEvent</a>
                </li>
                <li>
                    <a routerLink="interval">interval</a>
                </li>
                <li>
                    <a routerLink="of-from">of-from</a>
                </li>
                <li>
                    <a routerLink="to-array">toArray</a>
                </li>
                <li>
                    <a routerLink="custom-observable">Custom Observable and Map</a>
                </li>
                <li>
                    <a routerLink="take">Take</a>
                </li>
                <li>
                    <a routerLink="retry">Retry</a>
                </li>
                <li>
                    <a routerLink="subject">Subject</a>
                </li>

                <li>
                    <a routerLink="replay-subject">replay-Subject</a>
                </li>

                <li>
                    <a routerLink="merge-map">Merge Map</a>
                </li>
                
                <li>
                    <a routerLink="share-replay">share replay</a>
                </li>

                <li>
                    <a routerLink="combine-latest">combine latest</a>
                </li>
            </ul>

        </div>
    </div>
</div>